<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.promentol.PlaybackSecurity"
        version="0.0.1">

  <name>PlaybackSecurity</name>

  <engines>
    <engine name="cordova" version=">=5.0.0"/>
  </engines>
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PlaybackSecurity">
        <param name="android-package" value="com.example.plugin.PlaybackSecurity"/>
      </feature>
    </config-file>

    <source-file src="src/android/PlaybackSecurity.java" target-dir="src/com/promentol/PlaybackSecurity/"/>
  </platform>

</plugin>